@model IEnumerable<ZPO_Projekt.Data.Entities.Order>

@{
    var id = Url.RequestContext.RouteData.Values["id"]?.ToString() ?? string.Empty;
}

<div class="menu col-3">
    @if (Model != null)
    {
        foreach (var Order in Model)
        {
            <div>
                <button id="Order-btn-@Order.Id" class="btn btn-menu">
                    <i class="fas fa-lemon"></i>
                    @Html.ActionLink(Order.DateOfOrder.ToString(), "Index", "Order", routeValues: new { Id = Order.Id }, htmlAttributes: new { @class = "link" })
                </button>
    
                </div>
        }
    }
    <button id="addOrder" class="btn btn-menu">
        @Html.ActionLink("Add Order +", "AddOrder", "Order", routeValues: null, htmlAttributes: new { @class = "link" })
    </button>
</div>
