@{
    ViewBag.Title = "Contact";
}

<div class="center">
    <div class="h2">@ViewBag.Title</div>
    <div class="h3">@ViewBag.Message</div>

    <address>
        Malgorzata Skrzypecka<br />
        <a href="https://github.com/mskrzypecka">https://github.com/mskrzypecka</a>
    </address>
</div>