@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12 article">
        <div class="h1">ZPO_Projekt</div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
        @Html.ActionLink("Order!", "AddOrder", "Order", routeValues: null, htmlAttributes: new { @class = "link", id = "learnMore" })
    </div>
</div>

<div class="row">
    <div class="col-4 article">
        <div class="h2">Create an account</div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        @Html.ActionLink("Register now", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "link", id="goToRegister" })
    </div>
    <div class="col-4 article">
        <div class="h2">Add more Orders</div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        @Html.ActionLink("Add new Order", "AddOrder", "Order", routeValues: null, htmlAttributes: new { @class = "link", id = "goToAddOrder" })
    </div>
    <div class="col-4 article">
        <div class="h2">Get notifications</div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        @Html.ActionLink("Learn more", "Settings", "Account", routeValues: null, htmlAttributes: new { @class = "link", id = "goToAccountSettings" })
    </div>
</div>